body {
    font-family: Arial, sans-serif;
    background-color: #EDEDED;
    margin: 0;
    padding: 0;
    padding-bottom: 50px; 
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #444;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 2em;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

img {
    max-width: 100%;
    height: auto;
    margin: 1em 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}


